.Schedule {
    height: 100%;
    text-align: center;
}
.ScrollView-Section td {
    text-align: center;
}
.ScrollView-Section th {
    text-align: center;
    font-size: 14pt;
    color: white;
}
.Schedule-row:nth-child(odd) {
    background-color: lightgray;
}
.Schedule-row:nth-child(even) {
    background-color: white;
}