.CardView {
    /* text-align: center; */
    max-width: 500px;
    max-height: 500px;
    height: 47%;
    margin: 5px;
}
.CardView h1 {
    margin: 0;
    padding: 20px;
    font-size: 18pt;
}
.CardView .card-content {
    padding: 0;
}