.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: lightgray;
    z-index: 10;
    overflow-x: auto;
    overflow-y: hidden;
}
.NavBar h2 {
    float: right;
    margin: 0;
    padding-right: 20px;
}
.NavBar h2::after {
    clear: both;
}
.NavBar p {
    float: left;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    /* line-height: 50px; */
    min-width: 30px;
}
.NavBar p::after {
    clear: both;
}
.NavBar p:hover {
    background-color: #5B697E;
}

.NavBar a {
    color: white;
    display: inline-block;
}
.NavBar a:hover {
    cursor: pointer;
}
.NavBar img {
    float: left;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
}