.ScrollView {
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 18pt;
}
.ScrollView > .card-panel {
    background-color: inherit;
    /* margin: 10px; */
    padding: 0;
    width: 100%;
    /* max-width: 500px; */
    overflow-y: scroll;
}
.ScrollView .card-content {
    padding: 0;
}
.ScrollView > .card {
    background-color: inherit;
    padding: 0;
    width: 100%;
    /* max-width: 500px; */
    overflow-y: scroll;
    color: #263628;
}
.ScrollView .card-title {
    font-size: 24pt;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    background-color: white;
}
.ScrollView-content p {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
}
.ScrollView a {
    color: #225c8a;
}