.ScrollView {
    overflow-y: hidden;
    text-align: center;
    /* height: 100%; */
}
.ScrollView h1 {
    text-align: center;
    width: inherit;
    margin-top: 0;
    height: 60px;
    line-height: 60px;
}
.ScrollView > .card-panel {
    margin: 10px;
    width: 100%;
    max-width: 500px;
    overflow-y: scroll;
}